<form  [formGroup]="searchForm">
  <div class="row">
    <label for="search" class="col-2">Search jedi</label>
    <input type="text" formControlName="search" class="col-10" placeholder="Zoek Jedi">
  </div>
</form>

<table class="jedi-list table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Midichlorian count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jedi of filteredJedis">
      <td test-id="jediName" *ngIf="isInEditMode(jedi); else displayJediName">
        <input [(ngModel)]="jedi.name" type="text" />
      </td>
      <ng-template #displayJediName>
        <td test-id="jediName">
          {{ jedi.name | jediMaster }}
        </td>
      </ng-template>
      <td
        test-id="jediMidichlorian"
        *ngIf="isInEditMode(jedi); else jediMidichlorianReadonly"
      >
        <input [(ngModel)]="jedi.midichlorian" type="number" />
      </td>
      <ng-template #jediMidichlorianReadonly>
        <td test-id="jediMidichlorian">
          {{ jedi.midichlorian | midichlorian: "long" }}
        </td>
      </ng-template>
      <td>
        <button
          *ngIf="isInEditMode(jedi); else editButton"
          (click)="removeEditMode(jedi)"
          class="btn btn-primary"
        >
          Save
        </button>
        <ng-template #editButton
          ><button (click)="setEditMode(jedi)" class="btn btn-secondary">
            Edit
          </button></ng-template
        >
        <button (click)="delete(jedi)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
